.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* Center the block */
  font-family: "Inter", Arial, sans-serif; /* Use Inter font with Arial and generic sans-serif as fallbacks */
  font-size: 16px;
  line-height: 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
}
